<?xml version="1.0"?>
<Configuration>
	<Authentication active="true" pathToNetrcFile="~/.netrc"/>
	<Repositories>
		<Repository src="okamstudio/godot"/>
		<Repository src="Caliburn-Micro/Caliburn.Micro"/>
		<Repository src="octokit/octokit.rb"/>
	</Repositories>
	<Since days="17"/>
	<Users>
		<User name="Juan Linietsky"/>
		<User name="Ribhararnus Pracutiar"/>
		<User name="Wynn Netherland"/>
	</Users>
	<EmailSettings from="angelonicolosi@yanchware.com" to="contacts@yanchware.com" />
</Configuration>